.nav-link {
  border-radius: 12px;
}
.nav-link:hover {
  background-color: #eee;
}
.navbar, .jumbotron {
  margin: 8px;
  padding: 2rem;
}
.navbar:hover, .navbar-toggler:hover, .btn:hover {
  box-shadow: 10px 15px 25px #ccc;
}
section {
  padding-bottom: 2.5rem;    /* footer height */
}
footer {
  padding-left: 60px;
}
p {
  margin: 8px;
  padding: 4px;
}
#header-image {
  display: inline-block;
  width: auto;
  height: 70px;
}
#header-text {
  display: inline-block;
}
#table-headers {
  display: flexbox;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.tight {
  margin: 0px;
  padding: 0px;
  width: fit-content;
  height: fit-content;
}
.post-it {
  border: 1px solid black;
  background-color: yellow;
}
.blockquote {
  padding: 0px 30px;
}
.text-muted {
  white-space: nowrap;
}
.card-content {
  margin: 12px;
}
.btn, .form-group {
  margin: 4px;
}
#logo {
  margin-right: 3em;
  padding: 0px;
  width: fit-content;
  height: fit-content;
  border: solid;
}
#hanging {
  position:absolute;
  transform: translateX(-3px) translateY(12px) rotate(50deg);
}
#intro {
  margin: 0px 30px;
}
#cash-table-footer {
  display: flexbox;
}
/*
* Borrowed HR styles from https://css-tricks.com/examples/hrs/
*/
hr.style-2 {/* Gradient transparent - color - transparent */
  border: 1;
  border-style: solid;
  height: 8px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 2rem;
}
hr.style-2:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  /* border-radius: 20px; */
}
hr.style-7 {/* Flaired edges, by Tomas Theunissen */
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-7:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
hr.style-15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
/* hr.style-15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
} */

/*
* Strong Warning Flash Effect
*/
#caveat {
  margin: 8px 30px;
  text-align: center;
}
#caveat h2 {
  color: red;
}
#caveat h2:hover {
	animation: animate .2s linear infinite;
}
@keyframes animate {
	0% {
    color: red;
	}
	10% {
    color: red;
	}
	20% {
    color: black;
	}
	30% {
    color: red;
	}
	40% {
    color: purple;
	}
	50% {
    color: red;
	}
	60% {
    color: black;
	}
	70% {
    color: purple;
	}
	80% {
    color: red;
	}
	100% {
    color: red;
	}
}

@media (max-width: 500px) {
  section {
    padding-bottom: 5rem;    /* double footer height */
  }
}